ol{
    list-style: none;
    margin: 0;
    padding :0;
}

ol li{
    clear: both;
    margin: 0 0 10px 0;
    padding: 0;
}

label{
    float: left;
    width: 250px;
}

input:focus, textarea:focus, select:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 2px solid rgba(81, 203, 238, 1);
}


