h3{
    background-color: yellow;
    width: 300px;
    margin: 0 auto 5% auto;
}

input:focus, textarea:focus, select:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 2px solid rgba(81, 203, 238, 1);
}


